body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.profile-card{
    width: 500px;
    background:#fff;
    border-radius: 16px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    margin: 50px auto;
}
.profile-img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
.role{
    color:gray;
    font-size: 14px;
    margin-bottom: -8px;
}
.bio{
    font-size: 14px;
    margin: 15px 0;

}
.abilities{
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 12px;
    margin: 5px;

}
.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.social-icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.socials a {
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    color: #333
}